<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{{titre}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <header>
        <h1>Démo Template</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/secret">Page secrète</a></li>
            <li><a href="/a-propos">A propos</a></li>
        </ul>
    </nav>
    <main>
        {{message}}
    </main>
</body>

</html>