{% extends "base.jinja" %}

{% block objet %}
    <li class="card col-lg col-md-4 col-sm-6">
        <img class="card-img-top" src="../static/images/objets/templateImage.jpeg">
        <div class="card-body">
            <h3 class="card-title">Titre</h3>
            <p class="card-text">description</p>
        </div>
    </li>

{% endblock %}